
@model  IEnumerable<ExampleWithAspNet.Models.Person>
@{
    ViewBag.Title = "Home Page";
}

<h2>Persones</h2>

<div class="col-md-6">
    
    <table class="table table-striped">
        <tr>
            <th>@Html.DisplayName("Name")</th>
            <th>@Html.DisplayName("Age")</th>
            <th>@Html.DisplayName("Location")</th>
            <th>@Html.DisplayName("Gender")</th>
            <th>@Html.DisplayName("FullName")</th>
        </tr>
        @foreach (var p in Model)
        {
            <tr>
                <td><p>@Html.DisplayFor(modelItem => p.Name)</p></td>
                <td><p>@Html.DisplayFor(modelItem => p.Age)<p/></td>
                <td><p>@Html.DisplayFor(modelItem => p.Location.Name)</p></td>
                <td><p>@Html.DisplayFor(modelItem => p.Gender)</p></td>
                <td><p>@Html.DisplayFor(modelItem => p.FullName)</p></td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { Id = p.Id }) |
                    @Html.ActionLink("Edit", "Edit", new { Id = p.Id })
                </td>
            </tr>
        }
    </table>
</div>
<div>
    <button type="button" onclick="location.href='@Url.Action("Make", "Home")'">Create</button>
</div>
    








